body {
    background-color: lightgray;
    color: sienna;
    font-family: 'Luckiest Guy', cursive;
    text-align: center;
}

h1 {
    font-size: 100px;
}

.grid-container {
    display: grid;
    grid-template-columns: 5vw 5vw 5vw 5vw 5vw 5vw 5vw;
    grid-template-rows: 5vw 5vw 5vw 5vw 5vw 5vw;
}

.grid-item {
    background-color: springgreen;
}

.a1 {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
}

.a2 {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
}

.a3 {
    grid-column: 3 / 4;
    grid-row: 1 / 2;
}
.a4 {
    grid-column: 4 / 5;
    grid-row: 1 / 2;
}
.a5 {
    grid-column: 5 / 6;
    grid-row: 1 / 2;
}
.a6 {
    grid-column: 6 / 7;
    grid-row: 1 / 2;
}
.a7 {
    grid-column: 7 / 8;
    grid-row: 1 / 2;
}

.b1 {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
}

.b2 {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
}

.b3 {
    grid-column: 3 / 4;
    grid-row: 2 / 3;
}
.b4 {
    grid-column: 4 / 5;
    grid-row: 2 / 3;
}
.b5 {
    grid-column: 5 / 6;
    grid-row: 2 / 3;
}
.b6 {
    grid-column: 6 / 7;
    grid-row: 2 / 3;
}
.b7 {
    grid-column: 7 / 8;
    grid-row: 2 / 3;
}

.c1 {
    grid-column: 1 / 2;
    grid-row: 3 / 4;
}

.c2 {
    grid-column: 2 / 3;
    grid-row: 3 / 4;
}

.c3 {
    grid-column: 3 / 4;
    grid-row: 3 / 4;
}
.c4 {
    grid-column: 4 / 5;
    grid-row: 3 / 4;
}
.c5 {
    grid-column: 5 / 6;
    grid-row: 3 / 4;
}
.c6 {
    grid-column: 6 / 7;
    grid-row: 3 / 4;
}
.c7 {
    grid-column: 7 / 8;
    grid-row: 3 / 4;
}


.d1 {
    grid-column: 1 / 2;
    grid-row: 4 / 5;
}

.d2 {
    grid-column: 2 / 3;
    grid-row: 4 / 5;
}

.d3 {
    grid-column: 3 / 4;
    grid-row: 4 / 5;
}
.d4 {
    grid-column: 4 / 5;
    grid-row: 4 / 5;
}
.d5 {
    grid-column: 5 / 6;
    grid-row: 4 / 5;
}
.d6 {
    grid-column: 6 / 7;
    grid-row: 4 / 5;
}
.d7 {
    grid-column: 7 / 8;
    grid-row: 4 / 5;
}

.e1 {
    grid-column: 1 / 2;
    grid-row: 5 / 6;
}

.e2 {
    grid-column: 2 / 3;
    grid-row: 5 / 6;
}

.e3 {
    grid-column: 3 / 4;
    grid-row: 5 / 6;
}
.e4 {
    grid-column: 4 / 5;
    grid-row: 5 / 6;
}
.e5 {
    grid-column: 5 / 6;
    grid-row: 5 / 6;
}
.e6 {
    grid-column: 6 / 7;
    grid-row: 5 / 6;
}
.e7 {
    grid-column: 7 / 8;
    grid-row: 5 / 6;
}

.f1 {
    grid-column: 1 / 2;
    grid-row: 6 / 7;
}

.f2 {
    grid-column: 2 / 3;
    grid-row: 6 / 7;
}

.f3 {
    grid-column: 3 / 4;
    grid-row: 6 / 7;
}
.f4 {
    grid-column: 4 / 5;
    grid-row: 6 / 7;
}
.f5 {
    grid-column: 5 / 6;
    grid-row: 6 / 7;
}
.f6 {
    grid-column: 6 / 7;
    grid-row: 6 / 7;
}
.f7 {
    grid-column: 7 / 8;
    grid-row: 6 / 7;
}