body {
    background-image: url('/images/seigaiha.png');
    color: sienna;
    font-family: 'Luckiest Guy', cursive;
    text-align: center;
}

ul {
    text-align: start;
}
h2 {
    text-align: start;
}

h1 {
    font-size: 100px;
    margin-top: 30px;

    margin-bottom: 10px;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(7, 6vw);
    grid-template-rows: repeat(6, 6vw);
    margin-left: 25vw;
    cursor: url("./token-cursor.png"), auto;

}

.grid-item {
    background-color: rgb(35, 105, 197);
}

.hover {
    background-color: rgb(10, 81, 173);
}



.circle {
    background-color: rgb(242, 242, 243);
    width: 80%;
    height: 80%;
    margin: 10%;
    border-radius: 50%;
}

.yellow {
    background-color: rgb(248, 193, 11);
    box-sizing: border-box;
    border: dashed 7px rgb(172, 134, 9)
}

.red {
    background-color: rgb(179, 16, 43);
    box-sizing: border-box;
    border: dashed 7px rgb(117, 11, 29)

}
